.rew {
    font-weight: bolder;
    background-color: yellow;
    color: red;
}
#ewq {
    font-weight: bolder;
    background-color: green;
    color: white;
}
#rew {
    font-weight: bolder;
    background-color: orange;
    color: black;
}